<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.droidapp.ivanelv.eyesmovies">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        xmlns:tools="http://schemas.android.com/tools"
        tools:replace="android:icon"
        android:name="com.orm.SugarApp">

        <!-- Sugar ORM Library Meta-Data -->
        <!-- Name of the generated sqlite database file. eg: app_name.db -->
        <meta-data android:name="DATABASE" android:value="eyes_movie.db" />

        <!-- Version of your database schema. -->
        <meta-data android:name="VERSION" android:value="2" />

        <!-- Logs the generated Select queries. -->
        <meta-data android:name="QUERY_LOG" android:value="true" />

        <!--
             Specify a package name where your
             domain/entity classes are present. This helps in smoother table creation.
        -->
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.droidapp.ivanelv.eyesmovies.Model" />

        <receiver
            android:name=".Receiver.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MovieDetailActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.droidapp.ivanelv.eyesmovies.MainActivity"/>
        </activity>

    </application>

</manifest>